body {
	-webkit-user-select: none;
}

#tools {       
    position: fixed;
    right: 0px;
    text-align: right;
    top: 0px;      
    width: 600px;
}

.tool-link {
    margin-right: 10px;
}


/* OPTIONS */
#options {
    float: right;
}

#options-button {
    background-color: #b0b0b0;
    border: 2px solid #777;
    border-radius: 5px;
    color: #777;
    cursor: pointer;
    font-family: arial;
    font-weight: bold;    
    height: 30px;
    padding-top: 8px;
    position: relative;   
    text-align: center;
    vertical-align: top;
    width: 100px;   
}

#options-button:hover, #options .options-menu-down {
    background-color: #c8c8c8;
    border: 2px solid #ddd;
    color: #ddd;    
}
#options-menu {
    background-color: #b0b0b0;
    border: 1px solid #777;        
	display: none;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: 2px;
    text-align: left;
    top: 42px;    
    width: 200px;
}
#options-menu label:hover {
    text-decoration: underline;
}
/* END OPTIONS */

#status {
    position: fixed;
    bottom: 0;
    left: 5px;
}

#players {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
    margin: auto 10px;
}

 /* TREE-VIEWER */
 #treeViewerCanvas { border: 1px solid red; }